body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: flex; 
    margin: 0;
    flex-direction: column;
    
}

.header {
    background-color: #1F2937;
    display: flex; 
    flex: 1;
    justify-content: space-between;
    padding: 8px 24px;
    align-items: center;
}

ul {
    list-style: none;
    margin: 2px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #f9faf8;

}

ul {
    font-size: 16px;
    color: #E5E7EB;
}

.one {
    background-color: #1F2937;
    padding: 32px;
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    gap: 24px;
}

.input h2{
    font-size: 48px;
    font-weight: bolder;
}

.input p{
    font-size: 18px;
    color: #f9faf8
}

.one .left{
    flex: 1 1 0;
}

.one .right{
    flex: 1 1 0;
    display: flex;
    align-items: center;
}

.image {
    background-color: rgb(142, 141, 141) ;
    text-align: center;
    text-wrap: nowrap;
    padding: 80px;
    flex-grow: 1
}


button {
    border: none;
    border-radius: 8px;
    background: #3882f6;
    padding: 4px 16px;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }

.two {
    background-color: white;
    padding: 32px;
    text-align: center;
}

.info img{
    max-width: 200px;
}

.title{
    color: #1f2937;
    font-size: 36px;
    font-weight: 700;

}

.text {
    color: gray;   
}

.container {
    display: flex;
    flex-direction: row;
    gap: 52px;
    padding: 12px;
    flex-wrap: wrap;
    justify-content: center;

}

.info .text{
    max-width: 200px;
}

.three {
    background-color: #e5E7EB;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-style: italic;
    color: #1f2937;
    font-size: 36px;
}

.quote{
    padding: 60px 20px; 
}

.quote p{
    text-align: right;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}


.four{
    background: #3882f6;
    border-radius: 9px;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    gap: 16px;
    color: white;
    margin: 80px;
}


.cta .header{
    background: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0;
}

.cta .text{
    font-size: 16px;
}

  
button.signup {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 8px 0;
    border: 1px solid white;
    color: white;
}


.footer {
    background-color: #1F2937;
    padding: 20px;
    text-align: center;
    color:#e5E7EB ;
}